@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tg-theme-bg-color: #ffffff;
  --tg-theme-text-color: #000000;
  --tg-theme-hint-color: #999999;
  --tg-theme-link-color: #2678b6;
  --tg-theme-button-color: #2ea6ff;
  --tg-theme-button-text-color: #ffffff;
  --tg-theme-section-bg-color: #f4f4f5;
  --tg-theme-section-header-text-color: #000000;
  --tg-theme-destructive-text-color: #ff3b30;
}

body {
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tg-theme-bg-color: #1e1e1e;
    --tg-theme-text-color: #ffffff;
    --tg-theme-hint-color: #aaaaaa;
    --tg-theme-link-color: #62a9eb;
    --tg-theme-button-color: #2ea6ff;
    --tg-theme-button-text-color: #ffffff;
    --tg-theme-section-bg-color: #2c2c2e;
    --tg-theme-section-header-text-color: #ffffff;
    --tg-theme-destructive-text-color: #ff453a;
  }
}
